*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto  ;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0px;
  border-bottom: 1px solid #888888;
  background-color: white;
  position: sticky;
  top: 0;
  margin-bottom: 5px;
}

.logo {
  width: 150px;
  margin-right: 400px;
}

.navItems ul {
  display: flex;
  gap: 80px;
  margin-top: 30px;
}

.navItems ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.navItems ul li a {
  text-decoration: none;
  color: black;
}

.requestDemo {
  border: 1px solid #224229;
  padding: 7px 20px;
  text-decoration: none;
  color: black;
}

.requestDemo:hover {
  background-color: #224229;
  color: white;
  transition: all ease-in 0.3s;
}

/* Section Intro  */
.introImage img {
  width: 500px;
  margin-left: 15px;
  margin-top: 30px;
}

.introTextContent {
  width: 50%;
}
.introTextContent h1 {
  color: #224229;
  font-family: "Libre Baskerville", serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 54px;
}
.introTextContent p {
  color: #888888;
}

.introImage {
  width: 50%;
  padding-top: 50px;
}

.intro {
  display: flex;
  margin-top: 150px;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
}

/* section - About */
.aboutImg img {
  width: 400px;
}

.about {
  display: flex;
  margin-top: 200px;
  gap: 70px;
}

.about h1 {
  font-size: 45px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  color: #224229;
}

.about p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #828787;
  width: 500px;
}

.about hr {
  width: 250px;
  margin: 30px 350px 30px 0;
  color: #212529;
  line-height: 24px;
}

/* section - why */
.why img {
  width: 500px;
}

.why {
  display: flex;
  margin-top: 100px;
  gap: 10px;
}

.why h1 {
  font-size: 45px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  color: #224229;
}

.why p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #828787;
  width: 500px;
}

.why hr {
  width: 250px;
  margin: 30px 350px 30px 0;
  color: #212529;
  line-height: 24px;
}

/* section - image compression */
.imgCompressContainer img{
  width: 280px;
  border-radius: 10px;
}

.imgCompressContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.compression {
  text-align: center;
  margin-top: 200px;
}

.compressionHeader h1 {
  color: #224229;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.compressionHeader p {
  color: #828787;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

#arrow {
  width: 80px;
}

.arrowContainer {
  margin: 50px 100px;
  width: 150px;
}

.arrowContainer p {
  color: #828787;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}

.compressionFooter {
  font-family: Poppins, sans-serif;
}

.compressionFooter > h3 {
  color: #212529;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.compressionFooter > p {
  color: #828787;
  font-size: 16px;
  font-weight: 200;
  margin-top: 7px;
}

/* Backend */
#backendImage {
  margin-top: 40px;
}

/* footer */
.footerContainer {
  background-image: url(/images/background-plants.webp);
  height: 700px;
  margin-top: 150px;
  background-position: center;
  text-align: center;
}

.footerItems {
  padding-top: 70px;
  margin: auto;
}

.footerItems > h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}